body {
      background-image: url("http://www.rebelsport.co.nz/productimages/magnify/1/29856_87584_52269.jpg");
);
}

h1 {
    color: mediumorchid;
    text-align: center;
    font-family: sans-serif
        
}

p {
    color:mediumorchid;
    font-family:sans-serif;
    font-size: 20px;
}



ol {
    color:mediumorchid;
    font-family:sans-serif;
    font-size: 20px;
}

 float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;